:root {
  --space0_2: 0.1111rem;
  --space0_4: 0.222rem;
  --space0_5: 0.2777rem;
  --space0_6: 0.333rem;
  --space0_8: 0.4444rem;
  --space1_0: 0.55556rem;
  --space1_2: 0.667rem;
  --space1_4: 0.7778rem;
  --space1_6: 0.8889rem;
  --space2_0: 1.11rem;
  --space2_2: 1.222rem;
  --space2_4: 1.333rem;
  --space3_0: 1.667rem;
  --space3_2: 1.777rem;
  --space3_4: 1.889rem;
  --space3_6: 2rem;
  --space3_8: 2.111rem;
  --space4_0: 2.222rem;
  --space4_8: 2.6667rem;
  --space5_6: 3.1111rem;
  --space6_4: 3.556rem;
  --space7_2: 4rem;
  --space8_0: 4.444rem;
  --space8_8: 4.889rem;
  --space9_4: 5.22rem;
}
